/*add url-prefix("about:"), if you want it to be on every about page(not recomended)*/
@-moz-document url-prefix("about:") {

  html,
  body {
    background: transparent;
  }

  #root,
  .activity-stream,
  .outer-wrapper,
  .ds-outer-wrapper,
  .newtab-experience,
  .newtab-background,
  .personalize-layout {
    background: transparent !important;
  }

  *[style*="background-image"],
  [style*="wallpaper"],
  .wallpaper,
  .hero-background {
    background-image: none;
  }

  .sticky-container {
    background: transparent;
  }
}


@-moz-document regexp("^(?!about:).*$") {

  html,
  body {
    background-color: white;
    /* No !important */
    /*background-image: none;
    Remove only UA (browser) default wallpaper */
  }
}
